/*
 * Globals
 */

/*
 * Base structure
 */

body {
  background-color: #333;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  color: #fff;
}

.cover-container {
  max-width: 42em;
}


@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
 
/* Css to restric image sizes for carousel */
.custom-image {
    max-width: 700px; /* Adjust the maximum width as needed */
    max-height: 700px; /* Adjust the maximum height as needed */
    width: auto;
    height: auto;
  }
  
